@model MVCNedir.Models.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Marka Sil</h1>
</div>
<div class="card">
    <div class="card-body">
        <h3>Bu markayı silmek istediğine emin misin?</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Isim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Isim)
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Evet Sil" class="btn btn-primary" /> |
                @Html.ActionLink("Markalar Listesine Dön", "Index")
            </div>
        }
    </div>
</div>

