@model IEnumerable<MVCNedir.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/ProductImages/@item.ImagePath" class="card-img" />

                            <div class="card-body">
                                <span><b>@item.Name</b></span>
                                <br />
                                @if (item.Description.Length >= 100)
                                {
                                    <p>@item.Description.Substring(0, 100)</p>
                                }
                                else
                                {
                                    <p>@item.Description</p>
                                }
                                <div class="d-grid gap-2">
                                    <a href="@Url.Action("Index","BuyProduct", new { id = item.ID})" type="button" class="btn btn-sm btn-warning">Satın Al</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</main>

