
@{
    ViewBag.Title = "PaySuccess";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="container text-center">
    <img src="~/PageImages/paysuccess.png" class="img-thumbnail" width="250" />
    <h3>
        Ödeme İşlemi Başarılı
    </h3>
</div>

